@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    // label {
    //     @apply text-sm text-slate-500 mb-1.5;
    // }
    input {
        @apply focus-visible:outline-none focus:border-gray-500;
    }

    button:disabled {
        @apply opacity-70
    }
}

@layer components {
    .a-btn {
        @apply inline-block py-4 pr-4 w-full border-b border-solid border-gray-400
    }
    .btn {
        @apply py-2 px-4 rounded;
        // === 樣式 ===
        // 實心
        &-solid {
            @apply text-white
        }
        // 空心
        &-hollow {
            @apply text-slate-900
        }
        // === 外框線條
        &-outline-default {
            @apply border;
        }
        // === bg ===
        &-bg-main-blue {
            @apply bg-main-blue;
        }
    }
    .common {
        &-boxShadow {
            box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
        }
    }
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* 為了兼容性 */
    .hide-scrollbar {
        -ms-overflow-style: none; /* IE 和 Edge */
        scrollbar-width: none; /* Firefox */
    }
}

@layer utilities {
    .-top-23px {
        top: -23px;
    }
}