@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input {
        @apply focus-visible:outline-none focus:border-gray-500;
    }
}

@layer components {
    .a-btn {
        @apply inline-block py-4 pr-4 w-full border-b border-solid border-gray-400;
    }

    // btn 大小
    .btn-sm {
        @apply py-2 px-4 w-[78px] h-[40px];
    }

    // btn 樣式
    .btn-default {
        @apply btn-sm;
        @apply text-slate-900 border rounded;
        @apply hover:border-main-blue hover:text-main-blue hover-transition;
    }
    .btn-primary {
        @apply btn-sm;
        @apply text-white bg-main-blue rounded;
        @apply hover:opacity-85;
        @apply disabled:opacity-70 disabled:cursor-not-allowed;
    }
    .btn-link {
        @apply btn-sm;
        @apply inline-block border-b border-solid border-gray-400
    }
}

@layer utilities {
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* 為了兼容性 */
    .hide-scrollbar {
        -ms-overflow-style: none; /* IE 和 Edge */
        scrollbar-width: none; /* Firefox */
    }
    .hover-transition {
        @apply transition ease-in duration-200 delay-[120]
    }
}